*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}
html, body{
    height: 100%;
    width: 100%;
}
#main{
  height: 100%;
  width: 100%;
  background-color: rgb(224, 222, 222);
}
#nav{
    height: 80px;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 20px;
    padding: 0px 40px;
}
#nav h4{
    font-size: 20px;
    font-weight: 600;
}
#nav i{
    background-color: #000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    font-weight: 500;
    border-radius: 50%;
}
#center{
    width: 100%;
    /* background-color: red; */
    padding: 40px 80px;
}
#center h1{
    font-size: 70px;
    font-size: 4.1vw;
    font-weight: 500;
    line-height: 4vw;
}
#center-in{
    height: 200px;
    width: 100%;
    /* background-color: red; */
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 1.17vw;
    font-weight: 600;
    line-height:2.1vw;
}
#right{
    width: 11.8%;
}
.elem{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 20px 0px;
    border-top: 2px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 25px;
    font-weight: 500;
    opacity: 0;
}
.elem a{
    color: #000;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
}
.elem:hover i{
    opacity: 1;
}
.elem:hover a{
  text-decoration:underline;
}
#bottom{
    height: 36%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1517677129300-07b130802f46?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 20%;
}
@media (max-width:600px) {
   #nav{
    height: 60px;
    gap: 18px;
    padding: 0px 30px;
   }
   #nav h4{
    font-size: 14px;
    font-weight: 600;
    /* display: none; */
}
#nav i{
    background-color: #000;
    color: #fff;
    font-size: 14px;
    padding: 7px;
    font-weight: 500;
    border-radius: 50%;
}
#center{
    width: 100%;
    /* background-color: red; */
    padding: 15px 22px;
}
#center h1{
    /* font-size: 70px; */
    font-size: 10.8vw;
    font-weight: 500;
    line-height: 12vw;
}
#center-in{
    width: 100%;
    /* background-color: red; */
    flex-direction: column;
    margin-top: 18px;
    gap: 22px;
    display: flex;
    justify-content: space-between;
}
#center-in p{
    font-size: 3.4vw;
    font-weight: 600;
    line-height:4vw;
}
#right{
    width: 100%;
}
.elem{
    /* background-color: yellow; */
    /* margin: 5px; */
    padding: 11px 0px;
    border-top: 1.5px solid #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.elem i{
    font-size: 20px;
    font-weight: 500;
    opacity: 1;
    color: #303030;
}
.elem a{
    color: #303030;
    text-decoration: none;
    font-weight: 600;
    font-size: 15.4px;
}
#bottom{
    height: 33.5%;
    width: 100%;
    background-color: red;
    background-image: url(https://images.unsplash.com/photo-1517677129300-07b130802f46?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: 0 20%;
    border-radius: 10px;
}
}